button.list-group-item {
    outline: 0;
}

.borders [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(86,61,124,.2);
}

select.no-selection {
    color: lightgray;
}

.form-control[readonly] {
    color: inherit;
    background-color: inherit;
}

.spaced-1 {
    margin-right: 1em;
}